// Colors
$dark-color: #000;
$light-color: #fff;
$pastel-green: #77dd77;
$greenish-bg: #98fb98;
$red-color: #ff0000;
$cyan-color: #00ffff;
$purple-color: #ba55d3 ;
$yellow-color: #fff44f;
$pink-color: #ffc0cb;
$github-bg: #21262d;
$blue-color: #6495ed;
$yankees-blue: #1c2841;
$oxford-blue: #002147;
$jp-indigo: #264348;
$dark-blue: #000039;
$other-blue: rgba(15, 22, 36, 1);
$vivid-skyblue: #00ccff;
$blue-rby: #0247fe;
$twitter-color: rgba(93, 168, 220);
$linikedin-color: rgba(14, 118, 168);
$vampire-black: #080808;
$smokey-black: #100c08;
$eerie-black: #1b1b1b;

/* Language Colors */
$html-colors: #e34c26;
$html2-colors: #ff5f37;
$css-colors: #563d7c;
$css2-colors: #8e45ff;
$js-colors: #f1e05a;
$js2-colors: #daa520;