@use '../abstracts' as *;
// Resume working on StartMini

.headerBar{
    // Background Blur: https://dev.to/shrihari/navbar-with-background-blur-aesthetic-look-in-2-lines-of-code--4kp6
    background: transparent;
    backdrop-filter: blur(10px);
    color: $light-color;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.logo{
    font-size: 2rem;
    width: 50%;
    font-family: $space-grotesk;
    font-weight: $space-meduim;
    color: $light-color;
}
.menus{
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.menuItems{
    width: 33.3%;
    text-align: center;
}

.menuAnchor{
    color: $light-color;
    font-family: $space-grotesk;
    font-size: $space-bold;
    font-size: 1.5rem;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover{
        color: $blue-color;
        // transition: ease-in-out 0.3s;
    }
}